.search-bar {
  display: flex; /* Use flexbox for alignment */
  padding-right: 20px;
  
}

.search-input-container {
  position: relative; /* Position relative for absolute positioning of the icon */
}

.search-input {
  width: 250px; /* Width of the input field */
  padding: 5px 20px; /* Add padding and space for icon */
  border-radius: 20px; /* Rounded corners */
  border: 1px solid #ccc; /* Light gray border */
  font-size: 16px; /* Font size */
}

.search-icon {
  position: absolute; /* Position icon inside input */
  left: 10px; /* Space from left edge */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust vertical alignment */
  color: #999; /* Light gray color for icon */

}

.search-input::placeholder {
  color: #999; /* Light gray placeholder text */
}
