.loginPopup {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}

.loginPopup-container {
  place-self: center;
  width: max(23vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}

.loginPopup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.loginPopup-title img {
  width: 16px;
  cursor: pointer;
}

.loginPopup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginPopup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}

.loginPopup-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  cursor: pointer;
}

.loginPopup-container p {
  margin-bottom: 5px;
}

.loginPopup-condition {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  margin-top: 5px;
}

.loginPopup-condition input {
  margin-top: 5px;
  margin-bottom: -5px;
}

.loginPopup p span {
  color: tomato;
  font-weight: 500;
  cursor: pointer;
}

.close-button,
.loginPopup-condition input {
  cursor: pointer;
}
