.task-panels {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of panels */
  gap: 20px; /* Space between panels */
  justify-content: center; /* Center panels horizontally */
}

.task-panel {
  background-color: #012970; /* Panel background color */
  color: white; /* White text color */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside panels */
  text-align: center; /* Center text inside panels */
  text-decoration: none; /* Remove underline from links */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  position: relative; /* Needed for absolute positioning of the count */
}

.task-panel:hover {
  background-color: #0056b3; /* Darker shade on hover for panels */
  cursor: pointer; /* Pointer cursor on hover */
}

.task-panel h3 {
  margin-bottom: 10px; /* Space below heading */
}

.task-panel p {
  font-size: 0.9rem; /* Smaller paragraph size */
}

.counts {
  position: absolute;
  top: 5px;
  /* Adjust as needed */
  right: 5px; /* Adjust as needed */
  background-color: #0056b3; /* Background color for visibility */
  color: white; /* Text color */
  border-radius: 50%; /* Make it round */
  padding: 5px; /* Space around text */
}

.count {
  position: absolute;
  top: 5px;
  right: 5px;
  /* inset: -2px -5px auto auto; */
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
  color: white; /* Text color */
  background-color: #0056b3; /* Background color for visibility */
  border-radius: 50%;
}
