.manage-locations {
  padding: 20px;
  margin-left: 290px; /* Adjust based on sidebar width */
  transition: margin-left 0.3s; /* Smooth transition for margin changes */
}

.locations-table {
  width: 100%;
  border-collapse: collapse;
}

.locations-table th,
.locations-table td {
  border: 1px solid #ddd;
  padding: 12px;
}

.locations-table th {
  background-color: #007bff;
  color: white;
}

.locations-table tr:hover {
  background-color: #f1f1f1;
}

button {
  margin-right: 10px;
  padding: 8px;
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
}

button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.edit-location-form input {
  display: block;
  margin-bottom: 10px;
}
